body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0;
    flex-direction: column;
    padding: 0 20px;
}

#logo-container {
    text-align: center;
    position: relative;
}

@keyframes drop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#logo-img {
    width: 250px;
    height: auto;
    position: relative;
    top: 20px;
    animation: drop 1s ease-out;
}

#typing-text {
    font-size: 1.2rem;
    margin-top: 0;
    font-family: 'Baloo Bhaijaan', cursive;
    color: #03346E;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    animation: caret 0.75s steps(1) infinite;
    max-width: 100%;
    text-align: center;
    letter-spacing: 0.5px;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

#skip-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

#skip-btn i {
    font-size: 20px;
    color: #000;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
    #logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    #logo-img {
        top: 0;
        transform: translateY(0); /* Remove offset */
    }
}
